# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# pyenv
.python-version

# pytest
.cache/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# PyInstaller
# This is a hook for PyInstaller to create a single executable
# from a Python file.
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/
